:root {
  --eight-ball-dimensions: calc(5vw + 10vh);
  --eight-ball-border-length: calc(2.5vw + 5vh);
  --answer-placeholder-font-size: calc(2vw + 8vh);
  --answer-font-size: calc(1vw + 2vh);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #e5e5e5;
  text-align: center;
  padding: 15vh 15vw 0 15vw;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
}

#inputForm {
  font-size: 20px;
  padding: 1vh 0;
}

#input,
#submitBtn {
  font-size: 17px;
  margin-top: 1vh;
}

#eightBall {
  text-align: center;
  border: solid var(--eight-ball-border-length) #000;
  border-radius: 50%;
  box-sizing: content-box;
  width: var(--eight-ball-dimensions);
  height: var(--eight-ball-dimensions);
  margin-top: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  user-select: none;
}

#eightBallAnswer {
  color: #000;
  font-size: var(--answer-placeholder-font-size);
  font-weight: 900;
  padding: 1vw;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
